.text {
  border: 1px solid lightgray;
  width: 80%;
  padding: 10px;
  margin: 0px auto;
  margin-top: -10px;
  /* text-align: center; */
}
.title-text, 
.translated-word {
  text-align: center;
}

.input-text
{
  width:98%;
  height:30px;
  border:1px solid ;
  margin: 10px 0px;
}
.signup-btn,.savebtn{
  border:1px solid black !important;
  width:100%;
  height:35px;
  background-color: black !important;
  color:white !important;
  text-align: center;
}
.signin-link,.signup-link{
  border:1px solid white;
  background-color: white;
  font-weight: 800;
}

button{
  cursor: pointer;
}

/*----- display text page-----*/
.textpage-cont{
  display:flex;
  justify-content: center;
  align-items: center;
}
/* .word-box{
  width:600px;
  height:60vh;
} */

.wordlist-cont{
  display:flex;
  justify-content: center;
  align-items: center;

}
.test3{
  display:flex;
  justify-content: center;
  align-items: center;
}
.getText-cont{
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid grey;
  padding: 10px;
  text-align: center;
}